<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon favorite-icon" routerLink='/'>
        
        </button>
        <span>Board Games Lovers</span>
        <span class="example-spacer"></span>
        <button mat-raised-button class="example-icon" routerLink='/'>
            Home
        </button>
        <button mat-raised-button class="example-icon" routerLink='/my-games'>
            My games
        </button>
        <button mat-raised-button class="example-icon" routerLink='/top-games'>
            Top Games Online
        </button>
        
              
    </mat-toolbar>
</p>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="searchValue" placeholder="Which game would you like to play?" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Hit me!</button>
        </form> -->
   
  